<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <appSettings>
        <add key="csCenter" value="Server=BRH-DBX01.BDMS.CO.TH; database=CENTER_DB; uid=sa; pwd=P@ssw0rd" />
        <add key="ipCenter" value="10.121.10.15" />
        <add key="csMDR" value="Server=10.121.10.16; database=MDRBaseDB; uid=autoprint; pwd=autoprint" />
        <add key="ipMDR" value="10.121.10.16" />
        <add key="Site" value="BRH"/>
        <add key="Department" value="Pharmacy"/>
        <add key="UsageLogEnable" value="true"/>
        <add key="mailTo" value="nithi.re@glsict.com"/>

      <add key="PharmacyQueueMode" value="Enable"/><!--Enable=เปิดใช้การเช็คข้อมูลในคิวยาประกอบกับเวลาและประเภทเอกสารด้วย-->
      <add key="PharmacyQueuePriorityBuilder" value="Enable"/><!--Enable=เปิดโหมดให้โปรแกรมเขียนชื่อ Priority ลงบนเอกสารที่ปริ้น-->
      <add key="PharmacyQueuePriorityCounterBuilder" value="Enable"/><!--Enable=เปิดโหมดให้โปรแกรมแสดงจำนวนใบยาตามประเภทที่ปริ้นในวันนั้นๆ (นับตามจำนวนจริงที่เข้ามาในคิวเลย ไม่ได้นับตั้งแต่เปิดโปรแกรมปริ้น)-->
      <add key="PrintTimeBuilder" value="Enable"/><!--Enable=แสดงเวลาที่ระบบปริ้นเอกสารลงบนเอกสารที่ปริ้น-->
      <add key="DrawFontName" value="Tahoma"/>
      <add key="DrawFontSize" value="60"/>
      <add key="DrawPosition" value="TopCenter"/><!--TopCenter,BottomCenter,TopRight,TopLeft,BottomLeft,BottomRight-->
    </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap" />
                <binding name="ServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.121.10.15/WSCenter/service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
                contract="WSCenter.ServiceSoap" name="ServiceSoap" />
            <endpoint address="http://192.168.32.30/WSDefault/service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap1"
                contract="wsDefault.ServiceSoap" name="ServiceSoap1" />
        </client>
    </system.serviceModel>
</configuration>
